<div class="container w-25 mt-5 mb-5">
    <form method="post" class=" row gy-2 gx-3 align-items-center">
        {% load widget_tweaks %}
        {% csrf_token %}
        <div class="row mb-3">
            <label for="inputEmail3" class="col-sm-2 col-form-label text-capitalize">Usarname</label>
            <div class="col-sm-10">
                {% render_field form.username type="text" class="form-control" id="inputEmail3"%}
            </div>
        </div>
        <div class="row mb-3">
            <label for="inputPassword3" class="col-sm-2 col-form-label text-capitalize">Password</label>
            <div class="col-sm-10">
                {% render_field form.password type="password" class="form-control" id="inputPassword3" %}
            </div>
        </div>
        <button type="submit" class="btn btn-primary w-100">Login</button>

    </form>

</div>