{% extends 'layout/base.html' %}
{% block title %}Sign Up{% endblock title %}
{% block content %}

<style>
  #username{
    text-transform: lowercase;
  }
  #email{
    text-transform: lowercase;
  }
</style>

<section id="new-arrivals" class="new-arrivals">
  <div class="container mt-4 mb-4">

    <section>
      <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="  col-lg-7 ">
              <div class="card" style="border-radius: 15px;">
                <div class="card-body p-5">
                  <h2 class="text-uppercase text-center mb-5">Sign Up</h2>
                  {% if form.errors %}
                  <div id="msg" class="alert alert-danger alert-dismissible d-flex" style="justify-content: space-around;" role="alert">
                    <div id="form_errors">
                      {% for key, value in NewChart.errors.items %}
                      <strong>{{ value }}</strong>
                      {% endfor %}
                    </div>
                    <button id="make_msg_none" type="button" class="fa fa-solid-close btn btn-danger" data-dismiss="alert"
                      aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  {% endif %}
                  <form class="w-100" method="post">
                    {% load widget_tweaks %}
                    {% csrf_token %}
                    <div class="form-outline mb-4 text-capitalize" >
                      <label for="username">Username</label>
                      {% render_field form.username type="text" class="form-control" id="username" placeholder="username" %}
                    </div>
                    <div class="form-outline mb-4 text-capitalize">
                      <label for="email">Email</label>
                      {% render_field form.email type="email" class="form-control" id="email" placeholder="Enter your valid email addres" %}
                    </div>
                
                    <div class="form-outline mb-4 text-capitalize">
                      <label for="password1">Password</label>
                      {% render_field form.password1 type="password" class="form-control" id="password1" placeholder="Create Password" %}
                    </div>
                    <div class="form-outline mb-4 text-capitalize">
                      <label for="password2">Password Confirmation</label>
                      {% render_field form.password2 type="password" class="form-control" id="password2" placeholder="Password Confirm" %}
                    </div>
                   
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="text-uppercase btn btn-outline-primary w-100">Create Account</button>
                    </div>
                  </form>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>
</section>
{% endblock content %}