<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
</head>

<body>

  <h1>{{ dashboard.name }}</h1>
  <h1>{{ dashboard.author.username }}</h1>
  {% for comment in comments %}
  <br>
  {{ comment.title }}
  {{ comment.value }}
  {% endfor %}
  {% if request.user.username == dashboard.author.username %}
  <div class="card-body">
    <form onsubmit="submited()" method="post" id="form">
      {% csrf_token %}
      {{ comment_form }}
      <button type="submit">Submit</button>
    </form>
  </div>
  {% else %}

  {% endif %}

  <script>
    let input_title = document.getElementById("id_title")
    let input_value = document.getElementById("id_value")

    function submited() {
      document.location.reload()
    }
  </script>
</body>

</html>