<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit - {{ element.title }}</title>
    <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/edit.css' %}">
</head>
<body>
    <form method="post" class="w-50">
        <a class="btn btn-outline-danger w-100" href="{% url 'app:delete_element' chart.slug element.id  %}">Delete</a>
        {% csrf_token %}
        {% load widget_tweaks %}
        {% render_field UpdateElementForm.title class="form-control mt-2 mb-2" %}
        {% render_field UpdateElementForm.value class="form-control mt-2 mb-2" %}
        <button class="btn btn-outline-dark w-100" type="submit">Update</button>
    </form>
</body>
</html>