<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
    <section class="h-100 gradient-custom-2">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-9 col-xl-7">
              <div class="card">
                <div class="rounded-top text-white d-flex flex-row" style="background-color: #000; height:200px;">
                  <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
                    <img src="{{ user_p.profile.image.url }}"
                      alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
                      style="width: 150px; z-index: 1">
                        {% if request.user.username == user_p.username %}
                            <button type="button" class="btn btn-outline-dark" data-mdb-ripple-color="dark" style="z-index: 1;">Edit profile</button>
                        {% else %}
                            <button type="button" class="btn btn-outline-dark" data-mdb-ripple-color="dark" style="z-index: 1;">Follow</button>
                        {% endif %}
                  </div>
                  <div class="ms-3" style="margin-top: 100px;">
                    <h5>{{ user_p.first_name }}</h5>
                    <h6>{{ user_p.last_name }}</h6>
                    <p>  <a class="text-light" href="{% url 'app:profile' user_p.username %}" style="text-decoration: none;">@{{ user_p.username }}</a></p>
                  </div>
                </div>
                <div class="p-4 text-black" style="background-color: #f8f9fa;">
                  <div class="d-flex justify-content-end text-center py-1">
                    <div>
                      <p class="mb-1 h5">{{user_chart_count}}</p>
                      <a href="?tab=charts" class="small text-muted mb-0">Charts</a>
                    </div>
                    <div class="px-3">
                      <p class="mb-1 h5">1026</p>
                      <p class="small text-muted mb-0">Followers</p>
                    </div>
                    <div>
                      <p class="mb-1 h5">478</p>
                      <p class="small text-muted mb-0">Following</p>
                    </div>
                  </div>
                </div>
                <div class="card-body p-4 text-black">
                   {% if tab_chart %}
                   <div class="mb-5">
                    <p class="lead fw-normal mb-1">Charts</p>
                    <div class="p-4" style="background-color: #f8f9fa;">
                      {% for chart in tab_chart %}
                      <div>
                          <a class="text-dark" href="{% url 'app:chart' chart.slug %}">{{ chart.name }}</a>
                          <p>{{ chart.caption }}</p>
                      </div>
                      {% endfor %}
                    </div>
                  </div>
                  {% endif %}
                  {% if title == "Charts" and user_chart_count == 0 %}
                    <p class="lead fw-normal mb-1">
                      No Charts Yet
                    </p>
                    {% if user_p.username == request.user.username %}
                    <a class="btn btn-outline-success" href="{% url 'app:new' request.user.username %}">New Chart</a>
                    {% endif %}
                 
                  {% endif %}
                  </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      {% if request.user.username == user_p.username %}
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ user_form }}
        {{ profile_form }}
        <button type="submit">Submit</button>
      </form>
      {% endif %}

</body>

</html>