*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#t-none{
    text-decoration: none;
}

.following_profile_img{
    border-radius: 50% ;
}

.user_bio{
    position: absolute;
    z-index: 2;
    top: 20px;
    left: 340px;
}

.edit_profile_div{
    position: relative;
    color: red !important;
}

.edit_profile_div form{
    position: absolute;
    top: -500px;
}