<footer id="footer">

    <div class="footer-newsletter">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h4>Our Newsletter</h4>
                    <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
                </div>
                <div class="col-lg-6">
                    <form action="" method="post">
                        <input type="email" name="email"><input type="submit" value="Subscribe">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-top">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-xl-10">
                    <div class="row">

                        <div class="col-lg-3 col-md-6 footer-links">
                            <h4>Useful Links</h4>
                            <ul>
                                <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
                                <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
                                <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
                                <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
                                <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
                            </ul>
                        </div>

                        <div class="col-lg-3 col-md-6 footer-links">
                            <h4>Our Services</h4>
                            <ul>
                                <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
                                <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
                                <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
                                <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
                                <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
                            </ul>
                        </div>

                        <div class="col-lg-3 col-md-6 footer-contact">
                            <h4>Contact Us</h4>
                            <p>
                                Poytug, <br>
                                Izboskan,<br>
                                Andijon, <br>
                                Uzbekistan, <br> <br>
                                <strong>Phone:</strong> <a href="tel:+998931742328">+998 93 174 23 28</a><br>
                                <strong>Email:</strong> <a href="mailto:bekzodbek@muslim.com">bekzodbek@muslim.com</a><br>
                            </p>

                        </div>

                        <div class="col-lg-3 col-md-6 footer-info">
                            <h3>About Chart</h3>
                            <p>Bu Web Site orqali Chart'larni limitsiz yarating. Chartlarni yoqtiring va bir biringizni kuzating
                            </p>
                            <div class="social-links mt-3">
                                <a target="_blank" href="https://twitter.com/webdev06" class="twitter"><i class="bx bxl-twitter"></i></a>
                                <a target="_blank" href="https://instagram.com/aristocratdev_" class="instagram"><i class="bx bxl-instagram"></i></a>
                                <a target="_blank" href="https://join.skype.com/invite/BWsdY6jMtYVK" class="google-plus"><i class="bx bxl-skype"></i></a>
                                <a target="_blank" href="https://github.com/bekzodbek2006" class="github"><i class="bx bxl-github"></i></a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong><a target="_blank" href="https://github.com/single-dev">Bekzodbek</a></strong>. All Rights
            Reserved
        </div>

    </div>
</footer>

<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>