<header id="header" class="fixed-top header-inner-pages">
    <div class="container d-flex align-items-center justify-content-between">

        <h1 class="logo"><a href="#">amCharts</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

        <nav id="navbar" class="navbar">
            <ul>
                <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="#">Deep Drop Down 4</a></li>
                        <li><a href="#">Deep Drop Down 4</a></li>
                        <li><a href="#">Deep Drop Down 4</a></li>
                        <li><a href="#">Drop Down 4</a></li>
                        {% if not request.user.is_authenticated %}
                        <li class="dropdown"><a href="#"><span>Scroll</span> <i class="bi bi-chevron-right"></i></a>
                            <ul style="width: 160px !important;">
                                <li><a class="scrollto" href="#about">About</a></li>
                                <li><a class="scrollto" href="#skills">Skills</a></li>
                                <li><a class="scrollto" href="#cta">Call To Action</a></li>
                                <li><a class="scrollto" href="#portfolio">Portfolio</a></li>
                                <li><a class="scrollto" href="#testimonials">Testimonials</a></li>
                                <li><a class="scrollto" href="#contact">Contact</a></li>
                            </ul>
                        </li>
                        {% endif %}
                    </ul>
                </li>
                {% if not request.user.is_authenticated %}
                <li><a class="getstarted nav-link scrollto " href="{% url 'app:signup' %}">Sign Up</a></li>
                <li><a class="nav-link scrollto" href="{% url 'login' %}">Login</a></li>
                {% endif %}
                {% if request.user.is_authenticated %}
                <li><a class="nav-link scrollto" href="{% url 'logout' %}">LogOut</a></li>
                {% endif %}
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header>