<main id="main">

    <!-- ======= Breadcrumbs ======= -->
<!-- End Breadcrumbs -->

    <section class="inner-page">
      <div class="container-fluid">

        <div class="row justify-content-center">
          <div class="col-xl-10">
            {% for following in user.followers.all %}
            <a href="{% url 'app:profile' following.username %}">@{{ following.username }}</a>
            {% for element in  following.tanla.all %}
            <br>
            <a style="margin-left: 20px;" href="{% url 'app:chart' element.slug %}">{{ element.name }}</a>
            {% endfor %}
            <br>
            {% endfor %}
          </div>
        </div>
    </section>

  </main>