<main id="main">

    <!-- ======= Breadcrumbs ======= -->
<!-- End Breadcrumbs -->

    <section class="inner-page">
      <div class="container">
        <div class=" d-flex">
          <div class="col-xl-10">
            {% for following in following_actions %}
            {% for chart in following.chart.all %}
            <div class="d-flex">
              <div>
                <h4><a style="text-decoration: none;" href="{% url 'app:profile' chart.author.username %}">@{{ chart.author.username }}</a></h4>
            <a style="margin-left: 20px;" href="{% url 'app:chart' chart.slug %}">{{ chart.name }}</a>
              </div>
            <form action="{% url 'app:like' chart.slug %}">
              ({{ chart.likee.count }})
              {% csrf_token %}
              <button type="submit" class="btn btn">
                  {% if chart in request.user.like.all %}
                  <i class="bi bi-star text-danger"></i>
                  {% else %}
                  <i class="bi bi-star"></i>
                  {% endif %}
              </button>
          </form>
            </div>
            {% endfor %}
            {% endfor %}
          </div>
          <div class="col-xl-10">
            {% for user in users %}
            {% if user.username == request.user.username %}
            {% else %}
            <div class="user_profile_quick_view" style="display: flex; margin-top: 10px; margin-bottom: 10px;">
              <img class="user_profile_img" style="border-radius: 50%;"  src="{{ user.profile.image.url }}" alt="@{{ user.username }}" width="30" >
             <div>
              <span>
                <a class="text-dark" href="{% url 'app:profile' user.username %}" style="margin-left: 5px;">@{{ user.username }}</a>
                {% if user.profile.is_verify %}
                <i class="bi bi-check-circle-fill"></i>
                {% endif %}
              </span>
              {% if user in request.user.followers.all  %}
              <a class="text-danger" href="{% url 'app:follow' user.username %}">Unfollow</a>
              {% else %}
              <a class="text-info" href="{% url 'app:follow' user.username %}">Follow</a>
              {% endif %}
             </div>
            </div>
            {% endif %}
            {% endfor %}
          </div>
        </div>
    </section>

  </main>