*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#t-none{
    text-decoration: none;
}

.following_profile_img{
    border-radius: 50% ;
}

.user_bio{
    position: absolute;
    z-index: 2;
    top: 20px;
    left: 340px;
}

.edit_profile_div{
    display: none;
}

.edit_profile_div form{
    background-color: #fff !important;
    position: absolute;
    padding: 30px 20px;
    border-radius: 10px;
    top: 170px;
    left: 500px;
    z-index: 5;
}